@using BookStoreModel.ViewModels.SpendIncome
@model SelectSpendIncomeInvoiceViewModel

@Styles.Render("~/Views/MoneyInvoices/shared/invoice.css")

<div class="row invoice-header">
    <div class="col-4">
        <div>
            <b>ڕێككه‌وت: </b>
            @Html.DisplayFor(model => model.InvoiceDate)
        </div>
    </div>

    <div class="col-4 title">
        پسووڵه‌ی داهات
    </div>

    <div class="col-4">
        <div>
            <p>
                <b>ژماره‌ی پسووڵه‌: </b>
                @Model.Id
            </p>
        </div>
    </div>
</div>

<div class="row invoice-body">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>جۆری داهات</th>
                <th>بڕ‌</th>
                <th>تێبینی</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Type.Id</td>
                    <td>@item.Type.Name</td>
                    <td>@Html.DisplayFor(model=> item.Amount)</td>
                    <td>@Html.DisplayFor(model => item.Note)</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <p>
            <b>تێبینی: </b>
            @Model.MoreInfo.Note
        </p>
    </div>
</div>

<div class="row invoice-footer">
    <div class="offset-8 col-4">
        <div>
            <p>
                <b>كۆ: </b>
                @String.Format("{0:n0}", Model.Total)
            </p>
        </div>

        <div>
            <p>
                <b>نه‌قد: </b>
                @String.Format("{0:n0}", Model.Cash)
            </p>
            
            <p>
                <b>سندووق: </b>
                @String.Format("{0:n0}", Model.Vault?.Name)
            </p>
        </div>

        <div>
            <p>
                <b>قه‌رز: </b>
                @Html.DisplayFor(model => model.Loan)
            </p>

            <p>
                <b>مامه‌ڵه‌كار: </b>
                @(Model.Customer!=null?Model.Customer?.FullName +"("+ Model.Customer?.WorkPlace+")":"")
            </p>
        </div>
    </div>
</div>
