@model BookStoreModel.ViewModels.ManageAccount.ChangePasswordViewModel
@{
    ViewBag.Title = "زانیارییه‌كانم (گۆڕینی وشه‌ی نهێنی)";
}

<p class="page-title">زانیارییه‌كانم</p>

<p class="page-sub-title">گۆڕینی وشه‌ی نهێنی</p>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label for"OldPassword" class="col-md-2 control-label">وشه‌ی نهێنی كۆن</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for"NewPassword" class="col-md-2 control-label">وشه‌ی نهێنی نوێ</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for"ConfirmPassword" class="col-md-2 control-label">دووباره‌ی وشه‌ی نهێنی</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">
                <i class="fal fa-save"></i>
                تۆماركردن
            </button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("گه‌ڕانه‌وه‌", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}