@using BookStoreModel.FilterModels
@using BookStoreModel.GeneralModels
@model SpendIncomeReportFilter

@{
    List<KeyValuePairViewModel<long, string>> typeIds = new List<KeyValuePairViewModel<long, string>>();

    typeIds = ViewBag.TypeIds;
}

<style>
    .btn-submit {
        margin-right: 5px;
    }

    .form-check-label {
        margin-left: 20px;
    }

    div.filter-stores-div {
        overflow: scroll;
        height: 150px;
        width: 100%;
        background-color: azure;
        border-radius: 10px;
    }
</style>

<div>
    <form method="get">
        <div class="form-inline filter-form">
            <div class="col-4" style="text-align:center">
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">له‌</span>
                    </div>
                    @Html.EditorFor(model => model.StartDate,
                        new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">تا</span>
                    </div>
                    @Html.EditorFor(model => model.EndDate,
                        new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="input-group mb-1">
                    <label class="form-check-label">
                        كۆكردنەوەی بە پێی جۆر
                        @Html.EditorFor(model => model.GroupByType,
                        new { htmlAttributes = new { @class = "form-control" } })
                    </label>
                </div>
            </div>

            <div class="col-6" style="text-align:right">
                <div class="input-group mb-1">
                    <div class="filter-stores-div">
                        <ul style="list-style-type:none;">
                            @foreach (var typeId in typeIds)
                            {
                                <li>
                                    <div>
                                        <input type="checkbox" name="TypeIds" value="@typeId.Key"
                                               @(Model.TypeIds.Contains(typeId.Key) ? "checked" : "") />
                                        <span>@typeId.Value</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-2" style="text-align:center">
                <div class="input-group mb-1">
                    <button type="submit" class="btn btn-dark btn-submit">
                        <i class="fal fa-search"></i>
                        گه‌ڕان
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
