@model BookStoreModel.ViewModels.Users.ResetPasswordViewModel
@using BookStoreModel.ViewModels.Users

@{
    SelectUserViewModel user = (SelectUserViewModel)ViewBag.User;

    ViewBag.Title = "به‌كارهێنه‌ر (گۆڕینی وشه‌ی نهێنی)";
}

<p class="page-title">به‌كارهێنه‌ر</p>

<p class="page-sub-title">گۆڕینی وشه‌ی نهێنی</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model=> user.Id)

        <div class="form-group">
            <label for="UserName" class="control-label col-md-2">نازناو</label>
            <div class="col-md-10">
                <input type="text" disabled id="UserName" value="@user.UserName" class = "form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="FullName" class="control-label col-md-2">ناو</label>
            <div class="col-md-10">
                <input type="text" disabled id="FullName" value="@user.FullName" class = "form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="NewPassword" class="control-label col-md-2">وشه‌ی نهێنی نوێ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="ConfirmPassword" class="control-label col-md-2">دووباره‌ی وشه‌ی نهێنی</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    <i class="fal fa-save"></i>
                    گۆڕینی وشه‌ی نهێنی
                </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("گه‌ڕانه‌وه‌", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
